.my-calendar {
  color: white;
}

.my-calendar .rbc-today {
  background-color: #00adb5;
}

.my-calendar .rbc-off-range-bg {
  background: #e7e7e7;
}

.my-calendar .rbc-off-range {
  color: #474747;
}
