.react-datepicker__input-container input {
    border: none;
    background-color: #000814;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
}

input:hover {
    cursor: pointer;
}
